/*
  IE 10+ media query specification 
*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .preloader {
  display:none !important;
 }
 .home-content-node, #home  {
   display:none !important;
 }
 .list-container {
   height:200px !important;
   display: flex !important;
   flex-wrap: wrap-reverse !important;
 }
 .nav > .bars {
    display:none !important;
 }
 .social-links > li:hover {
   color: var(--clr-red-light);
 }
 .header{
  position: static;
  width:100%;
  top: 0;
  background: var(--clr-white);
  transition: var(--transition);
}
.footer {
  background: var(--clr-black);
}
}
/* END*/

/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(46, 86%, 17%);
  --clr-primary-2: hsl(36, 77%, 27%);
  --clr-primary-3: hsl(58, 72%, 37%);
  --clr-primary-4: hsl(82, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(0, 2.7%, 43.1%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: rgb(241, 245, 248);
  --clr-grey-11: rgb(250, 250, 255);
  --clr-white: #fff;
  --clr-red-dark: #bb2525;
  --clr-red-light: #e66b6b;
  --clr-red-lighter:hsla(0, 41%, 77%, 0.486);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsl(182, 63%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-primary-1:'cafe Aroma', "BA Grapics";
  --ff-primary-2: 'Cafe Retro', GarageFonts;
  --ff-primary-3: Cafelatte , sudtipos;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow:  0 5px 15px rgba(0, 0, 0, 0.333);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html ,body {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color:currentColor;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin: .5rem 0 1rem 0;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-primary-5);
  font-size: 14px;
line-height: 22px;
letter-spacing: 0.05em;
font-weight: 300;
font-style: italic;
font-family: 'cafe Aroma', "BA Grapics";
}
p::selection {
  color: var(--clr-red-light);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn , .sec-btn {
  text-transform: capitalize;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  outline:none;
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-red-light);
  border-color: var(--clr-red-light) ;
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.sec-btn {
  background: var(--clr-red-light);
  border-radius: 0;
  border-color: var(--clr-red-light);
  font-family: var(--ff-primary);
}
.sec-btn:hover {
  color:var(--clr-white);
  background-color: var(--clr-black);
  border-color: var(--clr-black);
}
/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  /* width:90vw; */
  margin: 0 auto;
  max-width: 1170px;
}
/* @media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
} */
main {
  min-height: 100vh;
}
/* 
=================
header
=================
*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  background: var(--clr-white);
  display: grid;
  justify-content: center;
  align-items: center;
  visibility: visible;
  z-index: 999999;
  transition: var(--transition);
}
.hide-preloader {
  z-index: -9999;
  visibility:hidden;
}
.header{
  position: absolute;
  width:100%;
  top: 0;
  padding-bottom:1em;
  background: var(--clr-white);
  transition: var(--transition);
  z-index: 999;
}
.show-shodow {
  position: fixed;
  top:0;
  box-shadow: var(--dark-shadow);
  padding-bottom:0;
}
.logo {
  height: 50px;
  margin: .5rem 1.5rem 0 1.5rem;
}
.nav > .bars {
  position: absolute;
  top:1.5em;
  right:1.5rem;
  cursor: pointer;
  transition: var(--transition);
}
.nav > .bars:hover {
  color:var(--clr-red-light);
}
.fa-stream {
  color:var(--clr-red-light);
}
.list-container {
  background-color: var(--clr-white);
  padding-top:1em;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  z-index:999;
}
.show-li-container {
  height: 13rem;
}
.scroll-link {
  padding:.8rem;
  letter-spacing: .1rem;
  font-weight: bolder;
  cursor:pointer;
  transition: var(--transition);
}
.scroll-link:hover {
  background-color: var(--clr-red-lighter);
  border-left: 3px solid var(--clr-red-light);
  padding-left:1.3rem;
  color:var(--clr-red-light);
}
@media screen and (min-width :  800px) {
  .nav > .bars  {
    display:none;
  }
  .list-container {
    position: absolute;
    display:flex;
    height: auto;
    background-color: transparent;
    transition: background-color 1ms linear;
    top:0;
    right:1em;
  }
  .scroll-link {
    margin: 1em 1em;
  }
  .scroll-link:hover {
    background: var(--clr-red-lighter);
    color:var(--clr-black);
  }
  .header {
    position: absolute;
    height: auto ;
    top: 0;
    padding-bottom:1.5em;
    background:transparent;
    color: var(--clr-white);
    padding: 1rem 1.5rem;
    border-bottom: .5px ridge rgb(54, 45, 45);
    transition: var(--transition);
    z-index: 999;
  }
  .show-shodow  {
    position: fixed;
    top:0;
    background: var(--clr-white);
    color:var(--clr-black);
    padding-bottom:1rem;
    border: none;
  }
}
/* 
================
main
================
*/
#home {
  min-height: 100vh;
  display: inline-grid;
  place-items: center;
  padding-left:2rem;
}
.home-content > .home-content-node::after{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}
.home-text-section {
  position: sticky;
  max-width: 35rem;
  text-align: left;
  color:rgba(243, 123, 123, 0.506);
  border:1px solid transparent;
  z-index:200;
  font-family: 'cafe Aroma', "BA Grapics";
}
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  z-index: -2;
}

@media screen and (min-width : 745px) {
  
}
/* 
=============
about
============= 
*/
#about {
  display: grid;
  place-items: center;
  height: auto;
  padding:94px 2.5rem;
}
.about-container {
  display:flex;
  flex-wrap: wrap;
}

/* 
==============
Menu
==============
*/
#menu {
  background: var(--clr-grey-11);
  padding:4rem 2.5rem;
}
.menu-item {
  display: grid;
  grid-template-columns:auto auto auto auto auto;
  background-color: var(--clr-white);
  border-radius:1rem;
  box-shadow: var(--dark-shadow);
  word-wrap:break-word;
  /* align-items:center; */
  overflow: hidden;
}
.menu-item-list {
  padding:1rem;
  border:.1px solid;
  text-align: center;
  text-transform: capitalize;
  border-color: transparent rgba(243, 240, 207, 0.652);
  background: var(--clr-white);
  cursor: pointer;
  outline:none;
}
.menu-item-list-active {
  color:var(--clr-white);
  background: var(--clr-red-light);
  border-color:var(--clr-red-light);
}
.menu-item-list:first-child , .menu-item-list:last-child {
  border-color:transparent;
}

.menu-article-area {
  display: flex;
  word-wrap: break-word;
  gap:2rem;
  box-decoration-break: clone;
  flex-wrap: wrap;
  margin-top: 2rem; 
  padding: 0 1rem;
  transition:var(--transition);
}
.card-container {
  border: 0 solid transparent;
  border-radius:1rem;
  width:100%;
  margin:1rem 0;
  flex-grow: 0;
  flex-shrink: 1;
  transition: var(--transition);
  background:var(--clr-white);
  letter-spacing: 0.028em;
  line-height: 26px;
  overflow: hidden;
  cursor: pointer;
}
.card-img {
  height: 100%;
  object-fit: contain;
}
.card-container:hover {
  box-shadow: var(--light-shadow);
}
.card-container:hover  .card-img {
  filter: brightness(85%);
}
.card-img::after,
.card-img::before {
  content: "";
  position:absolute;
  top:0;
  background: #f00;
}
.figure {
    background:var(--clr-white);
}
figcaption {
  padding: 10px;
}
figcaption > h4:first-child {
  cursor: pointer;
}
.price{
  position: static;
  float: none;
  color:var(--clr-red-light);
}
.menu-title {
  padding:2rem 0 4rem 0;
}
.menu-h1 ,.menu-title >p {
  text-align: center;
}
@media screen and (min-width:765px) {
  .menu-article-area {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width:1400px) {
  .menu-article-area {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
@media screen and (min-width:555px) and (max-width:764px) , (min-width:950px) and (max-width:1399px) {
  .price {
    position: relative;
    float: right;
    bottom: 1.6rem;
  }
}
/* 
========================
contact
========================
*/
#contact-us {
  padding:94px 2.5rem;
  overflow-wrap: anywhere;
}
.contact-container {
  display:flex;
  flex-wrap: wrap;
}
.contact-list {
  flex:0 0 100%;
  padding:1rem 0;
}
#google-map {
  display: grid;
  place-items: center;
}
#google-map > iframe{
  max-width:90%;
  width:600px;
  height:450px;
  cursor: crosshair;
  margin:auto;
}
.preloader-map-svg {
  position: absolute;
  left:0;
  right:0;
  max-height: 400px;
  margin-bottom: 10px;
}
.map-preloader-hide {
  display: none;
}
.our-address {
  padding-left: 3rem;
  transition: var(--transition);
}
.our-address > .address > a {
  position: relative;
  left:-3rem;
  bottom:-1.5rem;
  color:var(--clr-red-light);
  transition: var(--transition);
  cursor: pointer;
}
.our-address > .address > a:hover {
  color:currentColor;
}
.contact-form ,.contact-form-field {
  border: 1px solid #e5e5e5;
  outline: none;
  width: 80%;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  transition: var(--transition);
  background-color:rgba(245, 246, 246, 0.986) ;
}
.contact-form-field {
  padding:.5rem 0 5rem .5rem;
}
.fill-form >input:hover {
 padding-left: 1rem;
}
.fill-form >input:focus {
  border-color: currentColor;
}
.fill-form > label {
  line-height: 2;
}
@media screen and (min-width:765px)  {
  .about-container {
    display: grid;
    grid-template-columns: auto auto;
    place-content: center;
    place-items: center;
  }
  #google-map > iframe {
    display: grid;
    place-items: center;
    width:750px;
    height: 500px;
  }
  .contact-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2rem;
    gap:3rem;
  }
}
/* 
===========
footer
==========
*/
.footer {
  position:relative;
  bottom: 0;
  padding:3rem;
  background: var(--clr-black);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}
.social-links {
  display:flex;
  justify-content: left;
  transition: var(--transition);
}
.social-links > li{
  color:var(--clr-red-light);
  cursor: pointer;
  margin:0 1rem;
}
.social-links > li:hover {
  color:white;
  transform: scale(1.2);
}
.social-links > li:hover::before {
  content:"";
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: rgb(241, 197, 197);
  border-radius: 4px;
  z-index: -1;
  animation: pulse 1s infinite;
}
.bouncer {
  font-size: 1.25rem;
  position: fixed;
  bottom: 6rem;
  right: 3rem;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  visibility: visible;
  animation: bounce 1.5s ease-in-out infinite;
  z-index: 100;
}
.bouncer:hover::before {
  content:"";
  position: absolute;
  top:6px;
  left:6px;
  bottom:0;
  right:0;
  background: rgb(201, 106, 106);
  border-radius: 50%;
  z-index: -1;
  animation: pulse 1.5s ease-in-out infinite;
}
.bouncer-hide {
  visibility: hidden;
  z-index: -100;
}
.fa-arrow-circle-up {
  color: var(--clr-red-light);
}
@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 1;
  }
  /* 50% {
    transform: scale(1.2);
    opacity: 0.6;
  } */
  100% {
    transform: scale(1.9);
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}
@media screen and (max-width:274px) {
  .social-links {
    flex-wrap: wrap;
  }
}
@media screen and (min-width:800px) {
  .social-links {
    justify-content: right;
  }
}